body.dark {
    background-color: #222;
    color: white;
}

body.dark button {
    color: white;
}

body.dark a {
    color: skyblue;
}

body.dark .block {
    background-color: #555;
    border: 1px solid white;
}

body.dark header {
    background-color: #555;
}

body.light {
    background-color: whitesmoke;
    color: black;
}

body.dark light {
    color: white;
}

body.light a {
    color: blue;
}

body.light .block {
    background-color: #ddd;
    border: 1px solid black;
}

body.light header {
    background-color: #ddd;
}

#main-document[inert]>.popup-bg-cover {
    position: fixed;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

#main-doument {
    z-index: 0;
}

body {
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

#popup {
    position: fixed;
    top: 10%;
    margin: 0%  0% auto;
    z-index: 20;
    background-color: #aabbcc;
    width: fit-content;
    color: black;
    border-radius: 5px;
    animation: zoomIn 0.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

#popup>.popup-title {
    color: #700;
    background-color: rgba(255, 255, 255, 0.274);
    padding: 1px 10px 1px 10px;
    border-radius: 5px 5px 0 0;
}

#popup>.popup-text {
    margin: 1px 10px 1px 10px;
    padding: 0px 2px 4px 2px;
}

header {
    position: fixed;
    border: 1px double black;
    padding: 0px;
    top: 0;
    width: 100%;
    left: 0;
}

h1 {
    padding-left: 20px;
    font-size:25px;
}

.right {
    position: fixed;
    right: 20px;
}

.block {
    padding: 2px 6px 2px 6px;
    margin: 0 2px 0 2px;
}

button {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}