body.dark {
  background-color: #222;
  color: white;
}

body.dark button {
  color: white;
}

body.dark a {
  color: skyblue;
}

body.dark .block {
  background-color: #555;
  border: 1px solid white;
}

body.dark button[disabled] {
  color: rgba(0, 0, 0, 0.5);
}

body.dark header {
  background-color: #555;
}

body.dark .status-online {
  color: #8b8;
}
body.dark .status-offline {
  color: #b88;
}
body.dark .status-paused {
  color: #88b;
}

body.dark .craftbutton {
  background-image: url("/assets/hammer-white.svg");
}

body.light {
  background-color: whitesmoke;
  color: black;
}

body.dark light {
  color: white;
}

body.light a {
  color: blue;
}

body.light .block {
  background-color: #ddd;
  border: 1px solid black;
}

body.light button[disabled] {
  color: rgba(255, 255, 255, 0.5);
}

body.light header {
  background-color: #ddd;
}

body.light .status-online {
  color: #282;
}
body.light .status-offline {
  color: #822;
}
body.light .status-paused {
  color: #228;
}

body.light .craftbutton {
  background-image: url("/assets/hammer-black.svg");
}
#main-document[inert] > .popup-bg-cover {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

#main-doument {
  z-index: 0;
}

body {
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

#popup {
  justify-content: left;
  position: fixed;
  top: 2%;
  z-index: 20;
  background-color: #aabbcc;
  width: fit-content;
  color: black;
  font-size: 30px;
  border-radius: 5px;
  animation: fadeIn 0.3s ease 0s 1 normal backwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup-delete {
  color: gray !important;
  font-size: 25px;
}

#popup > .popup-message {
  display: flex;
  color: #000;
  font-size: 25px;
  padding: 5px 30px 5px 20px;
}

header {
  position: fixed;
  display: inline;
  border: 1px double black;
  padding: 0px;
  top: 0;
  width: 100%;
  left: 0;
  height: 50px;
}
header > .right {
  position: absolute;
  top: 6px;
  right: 15px;
}

.title {
  position: absolute;
  top: 6px;
  font-weight: bold;
  padding-left: 20px;
  font-size: 25px;
}

.right {
  position: fixed;
  right: 20px;
}

.block {
  padding: 2px 6px 2px 6px;
  margin: 0 2px 0 2px;
}

.blocks-countainer {
  margin-top: 60px;
  display: flex;
}

button {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.craftbutton:disabled {
  opacity: 0;
}
.craftbutton {
  position: relative;
  margin-right: 5px;
  top: -5px;
  width: 20px;
  height: 20px;
}

.clickable {
  cursor: pointer;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
